<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{>navbar}}

    <div class="container" id="home-id">
        <div class="home-section">
            <div class="content">
                <h1>WE WILL HELP YOU TO</h1>
                <h1>GROW YOUR BUSINESS</h1>
                <p>We Are The Team Of Professional Developers</p>
                <button class="home-btn">READ MORE</button>
            </div>
            <div class="content-img">
                <img src="img/growth.svg" alt="growth">
            </div>
        </div>

        {{!-- about section --}}
        <div class="about-section" id="about-id">
            <div class="heading">
                <h1>About Us</h1>
                <p>grow your business with us</p>
            </div>
            <div class="about-sec">
                <div class="content-img">
                    <img src="img/about.svg" alt="growth">
                </div>
                <div class="content">
                    <h1>WE ARE THE PROFESSIONAL DEVELOPERS</h1>
                    <p>Welcome to <span class="bold">NegiTechnical</span>, Your Number One Source for All Things. We're
                        Dedicated To
                        Giving You
                        The Very Best Of Work, With Focus On [Three Characteristics i.e, Dependability, Customer Service
                        And Uniqueness]</Source>
                    </p>
                    <button class="home-btn">READ MORE</button>
                </div>
            </div>
        </div>

        {{!-- service page --}}

        <div class="service-section" id="service-id">
            <div class="service-heading heading">
                <h1>Service Us</h1>
                <p>grow your business with us</p>
            </div>
            <div class="boxes">
                <div class="box1 box">
                    <h4>Setting</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit corrupti unde sapiente corporis
                        veniam dolores.</p>
                </div>
                <div class="box2 box">
                    <h4>Privacy</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit corrupti unde sapiente corporis
                        veniam dolores.</p>
                </div>
                <div class="box3 box">
                    <h4>Backups</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit corrupti unde sapiente corporis
                        veniam dolores.</p>
                </div>
                <div class="box4 box">
                    <h4>SSL</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit corrupti unde sapiente corporis
                        veniam dolores.</p>
                </div>
                <div class="box5 box">
                    <h4>Database</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit corrupti unde sapiente corporis
                        veniam dolores.</p>
                </div>
                <div class="box6 box">
                    <h4>Soeed Up</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit corrupti unde sapiente corporis
                        veniam dolores.</p>
                </div>
            </div>
        </div>
        {{>contact}}

    </div>




    <script src="../jq/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
</body>

</html>